// Colors

// bg
$primary: #120f13;
$primary-darker: #0b090c;
$secondary: #252329;
$input-bg: #3c393f;
$button-bg: #2f80ed;
$modal-open-bg: #120f1380;

// text
$text-white: #e0e0e0;
$text-channel: #bdbdbd;
$text-name: #828282;
$text-date: #828282;
$text-input: #828282;
$text-logout: #eb5757;

// Fonts
$font-noto-sans: "Noto Sans", sans-serif; ;
