@use '../base/settings';
@use '../base/mixins';

.btn {
  border-radius: 8px;
  background-color: transparent;
  @include mixins.center;
  height: 38px;
  width: 38px;

  &__icon {
    font-size: 20px;
    margin-right: -2px;
  }
}
.btn-primary {
  background-color: settings.$button-bg;
}
.btn-secondary {
  background-color: settings.$secondary;
}

.btn-sm {
  height: 32px;
  width: 32px;
}
.btn-lg {
  height: 42px;
  width: 42px;
}
